*.o
*.gz
*.gmo
*~
*.orig
*.m4
m4/
libtool
intltool-*.in
lingot.desktop
lingot-github.*
.settings/
src/.deps
src/lingot
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/stamp-it
Makefile
Makefile.in
pixmaps/Makefile
pixmaps/Makefile.in
src/Makefile
src/Makefile.in
src/glade/Makefile
src/glade/Makefile.in
stamp-h1
config.h
config.h.in
config.sub
config.log
config.status
config.guess
aclocal.m4
autom4te.cache/
configure
compile
INSTALL
depcomp
install-sh
ltmain.sh
missing
test/Debug/
test/.settings
lingot.pot
