*.o
*.gz
*.gmo
*~
*.orig
libtool
lingot.desktop
lingot-github.*
.settings/
src/.deps
src/lingot
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
Makefile
Makefile.in
pixmaps/Makefile
pixmaps/Makefile.in
src/Makefile
src/Makefile.in
src/glade/Makefile
src/glade/Makefile.in
stamp-h1
config.h
config.log
config.status
aclocal.m4
autom4te.cache/
compile
