*.o
*.gz
*.gmo
*~
*.orig
libtool
lingot.desktop
lingot-github.*
.settings/
src/.deps
src/lingot
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
Makefile
pixmaps/Makefile
src/Makefile
src/glade/Makefile
stamp-h1
config.h
config.log
config.status

